#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.brand {
  padding-top: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.footer {
  border-top: solid 1px #e7e7e7;
  background-color: #f8f8f8;
  position: absolute;
  bottom: 0;
  height: 50px;
}

.footer-container {
  padding-top: 15px;
}

body {
  padding-bottom: 50px;
}
