#custom-search-input{
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  padding: 20px 0 20px 18px;
  border: 0;
  box-shadow: none;
}

#custom-search-input input:focus{
  border-color: #d5d5d5;
  outline: 0;
  -webkit-box-shadow: 0 2px 2px #d5d5d5, 0 0 8px #d5d5d5;
  box-shadow: 0 2px 2px #d5d5d5, 0 0 8px #d5d5d5;
}

#custom-search-input button{
  outline: 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 2px 8px 0 10px;
}

#custom-search-input button:hover{
  border: 0;
  color: #222222;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}
