<div ng-include="'views/ui/header.html'"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn btn-default btn-block">Add</button>
        </li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">This</div>
        <div class="panel-body">
          That
        </div>
      </div>
    </div>
  </div>
</div>
