<div ng-include="'views/ui/header.html'"></div>
<script type="text/ng-template" id="addSchema.html">
  <form class="form-horizontal">
  <div ng-switch="addsteps[curstep]">
    <div ng-switch-when="step1">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add New Schema --Basic</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
              <input class="form-control" ng-model="newschema.name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Index Type</label>
            <div class="col-md-10">
              <select class="form-control" ng-model="newschema.index_type" ng-options="index.val as index.display for index in index_type">
                <option value="">(Pick one)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Rowkey Expression</label>
            <div class="col-md-8">
              <input class="form-control" ng-model="newschema.rowkey_expression">
            </div>
            <div class="col-md-2">
              <a href="">About Expression?</a>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Table Expresstion</label>
            <div class="col-md-8">
              <input class="form-control" ng-model="newschema.table_expression">
            </div>
            <div class="col-md-2">
              <a href="">About Expression?</a>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Content Fields</label>
            <div class="col-md-4"><input type="text" class="form-control" placeholder="name" ng-model="new_content_field.name"></div>
            <div class="col-md-4">
              <select class="form-control" ng-model="new_content_field.type" ng-options="tp for tp in field_index_type | filter: typeFilter.content">
                <option value="">(Pick one)</option>
              </select>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success center-block" ng-click="addContentField()"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
            <div class="col-md-10 col-md-offset-2">
              <table class="table">
              <tr><th>#</th><th>name</th><th>type</th><th>option</th></tr>
              <tr ng-repeat="cfield in newschema.content_fields">
                <td>{{$index+1}}</td>
                <td>{{cfield.name}}</td>
                <td>{{cfield.type}}</td>
                <td>
                  <a href="" ng-click="removeContentField($index)">Delete</a>
                </td>
              </tr>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Inner fields</label>
            <div class="col-md-4"><input type="text" class="form-control" placeholder="name" ng-model="new_inner_field.name"></div>
            <div class="col-md-4"><input type="text" class="form-control" placeholder="separator" ng-model="new_inner_field.separator"></div>
            <div class="col-md-2">
              <a class="btn btn-success center-block" ng-click="addInnerField()"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
            <div class="col-md-10 col-md-offset-2">
              <table class="table">
              <tr><th>#</th><th>name</th><th>separator</th><th>option</th></tr>
              <tr ng-repeat="ifield in newschema.inner_fields">
                <td>{{$index+1}}</td>
                <td>{{ifield.name}}</td>
                <td>{{ifield.separator}}</td>
                <td>
                  <a href="" ng-click="removeInnerField($index)">Delete</a>
                </td>
              </tr>
              </table>
            </div>
          </div>
        </div> <!-- END of container-fluid -->
      </div> <!-- END of modal-body -->
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="next()">Next</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div> <!-- END of modal-footer -->
    </div> <!-- END of switch step1 -->
    <div ng-switch-when="step2">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add New Schema --Fields</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" ng-model="new_field.name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Store type</label>
            <div class="col-md-10">
              <select class="form-control" ng-model="new_field.store_type" ng-options="ftp for ftp in field_type">
                <option value="">(Pick one)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Content field</label>
            <div class="col-md-10">
              <select class="form-control" ng-model="new_field.content_field" ng-options="cfield.name as cfield.name for cfield in newschema.content_fields" ng-change="checkIndexType()">
                <option value="">(Select existed content field)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Index</label>
            <div class="col-md-3">
              <div class="checkbox"><label><input type="checkbox" value="" ng-model="new_field.indexed" ng-click="checkIndexType()">Indexed</label></div>
            </div>
            <div class="col-md-3">
              <div class="checkbox"><label><input type="checkbox" value="" ng-model="new_field.index_stored" disabled>Stored</label></div>
            </div>
            <div class="col-md-4">
              <select class="form-control" ng-model="new_field.index_type" ng-options="tp for tp in field_index_type | filter: typeFilter[new_field.store_type]" ng-disabled="!((new_field.indexed || new_field.content_field) && new_field.store_type)">
                <option value="">(Index type)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Inner field</label>
            <div class="col-md-10">
              <select class="form-control" ng-model="new_field.inner_field" ng-options="ifield.name as ifield.name for ifield in newschema.inner_fields">
                <option value="">(Select existed inner field)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 col-md-offset-10">
              <a class="btn btn-success center-block" ng-click="addField()"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
          </div>
          <div class="col-md-12">
            <table class="table">
              <tr><th>#</th><th>name</th><th>store type</th><th>index</th><th>content field</th><th>inner field</th><th>option</th></tr>
              <tr ng-repeat="field in newschema.fields">
                <td>{{$index + 1}}</td>
                <td>{{field.name}}</td>
                <td>{{field.store_type}}</td>
                <td>{{field.index_type}}</td>
                <td>{{field.content_field}}</td>
                <td>{{field.inner_field}}</td>
                <td><a href="" ng-click="removeField()">Delete</a></td>
              </tr>
            </table>
          </div>
        </div> <!-- END of container-fluid -->
      </div> <!-- END of modal-body -->
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="prev()">Previous</button>
        <button class="btn btn-primary" type="button" ng-click="next()">Next</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div> <!-- END of modal-footer -->
    </div> <!-- END of switch step2 -->
    <div ng-switch-when="step3">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add New Schema --Query Fields</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
              <select class="form-control" ng-model="new_query_field.name" ng-options="field.name as field.name for field in newschema.fields | filter: queryFilter">
                <option value="">(Select existed fields to query)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2">Weight</label>
            <div class="col-md-10">
              <input type="number" class="form-control" ng-model="new_query_field.weight">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 col-md-offset-10">
              <a class="btn btn-success center-block" ng-click="addQueryField()"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-2">
            <table class="table">
              <tr><th>#</th><th>name</th><th>weight</th><th>option</th></tr>
              <tr ng-repeat="qfield in newschema.query_fields">
                <td>{{$index + 1}}</td>
                <td>{{qfield.name}}</td>
                <td>{{qfield.weight}}</td>
                <td><a href="" ng-click="removeQueryField($index)">Delete</a></td>
              </tr>
            </table>
          </div>
        </div> <!-- END of container-fluid -->
      </div> <!-- END of modal-body -->
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="prev()">Previous</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div> <!-- END of modal-footer -->
    </div> <!-- END of switch step3 -->
  </div> <!-- END of ng-switch -->
  </form>
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <ul class="list-group">
        <div class="list-group-item">
          <button class="btn btn-default btn-block" style="outline: 0" ng-click="addSchema()">Add</button>
        </div>
        <a href="" class="list-group-item" ng-repeat="schema in schemas" ng-class="{active: page.schemasActive[$index]}">
          {{schema.name}}
        </a>
      </ul>
    </div>
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">This</div>
        <div class="panel-body">
          That
        </div>
      </div>
    </div>
  </div>
</div>
